services:
  # Integration Server
  # https://www.ibm.com/docs/en/wm-integration-server/11.1.0?topic=guide-environment-variables
  is:
    # image: cp.icr.io/cp/webmethods/integration/webmethods-microservicesruntime:11.1
    # image: ibmwebmethods.azurecr.io/webmethods-microservicesruntime:11.1
    image: webmethods-microservicesruntime:11.1
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BASE_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime:11.1
        - WPM_TOKEN
    hostname: is
    ports:
      - "5555:5555"
      - "5543:5543"
    environment:
      - JAVA_MIN_MEM=512m
      - JAVA_MAX_MEM=512m
      - SAG_IS_ADMIN_PASSWORD=manage
      - SAG_IS_DEBUG_LEVEL=Info
    volumes:
      - './application.properties:/opt/softwareag/IntegrationServer/application.properties'
    stop_grace_period: 30s

  # Universal Messaging
  # https://www.ibm.com/docs/en/wm-universal-messaging/11.1.0?topic=containers-running-universal-messaging
  um:
    # image: cp.icr.io/cp/webmethods/universalmessaging/universalmessaging-server:11.1
    image: ibmwebmethods.azurecr.io/universalmessaging-server:11.1
    hostname: um
    ports:
      - "9000:9000"
    environment:
      - INIT_JAVA_MEM_SIZE=512
      - MAX_JAVA_MEM_SIZE=512
    volumes:
      - 'um-data:/opt/softwareag/UniversalMessaging/server/default/data'
    stop_grace_period: 30s

volumes:
  um-data:
