services:
  # Integration Server
  # https://www.ibm.com/docs/en/wm-integration-server/11.1.0?topic=guide-environment-variables
  is:
    # image: cp.icr.io/cp/webmethods/integration/webmethods-microservicesruntime:11.1
    # image: ibmwebmethods.azurecr.io/webmethods-microservicesruntime:11.1
    image: webmethods-microservicesruntime:11.1
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BASE_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime:11.1
        - WPM_TOKEN
    hostname: is
    ports:
      - "5555:5555"
      - "5543:5543"
    environment:
      - JAVA_MIN_MEM=512m
      - JAVA_MAX_MEM=512m
      - SAG_IS_ADMIN_PASSWORD=manage
      - SAG_IS_DEBUG_LEVEL=Info
    volumes:
      - './application.properties:/opt/softwareag/IntegrationServer/application.properties'
    stop_grace_period: 30s

  # Universal Messaging
  # https://www.ibm.com/docs/en/wm-universal-messaging/11.1.0?topic=containers-running-universal-messaging
  um:
    # image: cp.icr.io/cp/webmethods/universalmessaging/universalmessaging-server:11.1
    image: ibmwebmethods.azurecr.io/universalmessaging-server:11.1
    hostname: um
    ports:
      - "9000:9000"
    environment:
      - INIT_JAVA_MEM_SIZE=512
      - MAX_JAVA_MEM_SIZE=512
    volumes:
      - 'um-data:/opt/softwareag/UniversalMessaging/server/default/data'
    stop_grace_period: 30s

  # API Gateway
  # https://www.ibm.com/docs/en/wm-api-gateway/11.1.0?topic=configuration-api-gateway-docker-container-externalized-elasticsearch-kibana
  apigw:
    image: cp.icr.io/cp/webmethods/api/api-gateway:11.1
    hostname: apigw
    ports:
      - "5555:5555"
      - "9072:9072"
    environment:
      - apigw_elasticsearch_hosts=apigw-es:9200
      - apigw_kibana_dashboardInstance=http://apigw-kb:5601
    stop_grace_period: 30s

  apigw-es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    hostname: apigw-es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false

  apigw-kb:
    image: docker.elastic.co/kibana/kibana:8.12.2
    hostname: apigw-kb
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://apigw-es:9200
      - SERVER_BASEPATH=/apigatewayui/dashboardproxy

  # Microgateway
  # https://www.ibm.com/docs/en/webmethods-microgateway/11.1.0?topic=provisioning-microgateway-docker-environment-variables
  mcgw:
    image: cp.icr.io/cp/webmethods/api/microgateway:11.1
    hostname: mcgw
    ports:
      - "4485:4485"
    environment:
      - mcgw_ports_http=4485
      - mcgw_api_gateway_url=apigw:5555
      - mcgw_api_gateway_user=Administrator
      - mcgw_api_gateway_password=manage
      - mcgw_downloads_apis=petstore

  # Developer Portal
  # https://www.ibm.com/docs/en/wdp/11.1.0?topic=started-installing-stand-alone-developer-portal-using-docker
  devportal:
    image: cp.icr.io/cp/webmethods/api/ibm-webmethods-developer-portal:11.1
    hostname: devportal
    ports:
      - "18101:8080"
      - "18102:8443"
    environment:
      - SPRING_ELASTICSEARCH_URIS=http://devportal-es:9200

  devportal-es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    hostname: devportal-es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false

volumes:
  um-data:
